/* font-family: 'Rubik', sans-serif; */

:root {
  --bg-color: 234, 224, 194;
  --light-shadow: 176, 164, 144;
  --dark-shadow: 131, 125, 109;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Rubik', sans-serif;
  color: black;
  background-color: #1f1f1b;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: green;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* Top and bottom margin */
}

p {
  margin: 0 0;
}

img {
  max-width: 100%;
}


/* General styles */

.container {
  width: 800px;
  grid-area: center;
  margin-bottom: 0.5em;
}

.icon-menu {
  display: inline-block;
  width: 2.5em;
  opacity: 0.75;
}

.icon-menu:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.icon-menu:active {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.icon-basic {
  display: inline-block;
  width: 3em;
  opacity: 0.9;
  margin: 0 0.25em;
}

.icon-basic-mini {
  display: inline-block;
  width: 1em;
  opacity: 0.9;
  margin: 0 0.25em;
}

.submenus-nav {
  width: 100%;
  padding: 0.25em;
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.5em;
}


/* Utilities */

.bg-light {
  background-color: rgb(var(--bg-color));
}

.border-dark {
  border: 3px solid rgb(var(--dark-shadow));
  border-radius: 2px;
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.clickable:active {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-j-center {
  justify-content: center;
}

.flex-j-right {
  justify-content: right;
}

.flex-j-between {
  justify-content: space-between;
}

.flex-j-evenly {
  justify-content: space-evenly;
}

.flex-a-center {
  align-items: center;
}

.flex-a-right {
  align-items: flex-end;
}

.text-300 {
  font-weight: 300;
}

.text-400 {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.text-700 {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}