/* font-family: 'Montserrat', sans-serif; */

:root {
  --bg-color: 234, 224, 194;
  --light-shadow: 176, 164, 144;
  --dark-shadow: 131, 125, 109;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: #1f1f1b;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: green;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* Top and bottom margin */
}

p {
  margin: 0 0;
}

img {
  max-width: 100%;
}


/* General utilities */

.container {
  width: 800px;
  grid-area: center;
  margin-bottom: 0.5em;
}

.bg-light {
  background-color: rgb(var(--bg-color));
}

.border-dark {
  border: 3px solid rgb(var(--dark-shadow));
  border-radius: 2px;
}

.icon-menu {
  width: 2.5em;
  opacity: 0.75;
}

.icon-basic {
  width: 3em;
  opacity: 0.9;
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.clickable:active {
  cursor: pointer;
  transform: scale(1.1);
}

.submenus-nav {
  width: 100%;
  padding: 0.25em;
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.5em;
}